

// //widescreens
@include mediaXL {
    html, body{
        font-size: 70% !important;
        // width: 100% !important;
        // height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow-x: hidden !important; 
    }

  .section1, .section2, .section4{
       height: 100vh !important;
      grid-template-columns: repeat(2,1fr);

      .intro, .workout-desc, .nutrition-desc, .proverb{
        padding: 6rem 8rem!important;

      }

      .scroll-workout{
          height: 100vh !important;

          .tabs-container{
              width: 5vw !important;
              left: 15% !important;
            }
      }
      
      .fadein-img{
          padding-top: 6rem !important;

          img{
              height: 30rem;
              width: 30rem;
          }
      }


  }

.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    img{
        width: 30vw !important;
    }
}

.section6{
    height: 130vh;
    padding: 2rem 4rem !important;
    display: flex;
    flex-wrap: wrap;
    .browse-div1{
        width: 60vw !important;
    }
    .browse-div2{
        width: 25vw !important;
    }
    .browse-div3{
        width: 25vw !important;
    }
    .browse-div4{
        width: 25vw !important;
    }
    .browse-div5{
        width: 25vw !important;
    }
}

.newsletter{
    display: flex;
    flex-direction: row;
    height: 80vh;
    padding: 0 !important;
    margin: 0 !important;
}
  
     .section3{
         grid-template-rows: 1.5fr 1fr;
         height: 130vh;

    //       #slideshow1 img{
    //     width: 20vw !important;
        
    //   }
    }

}

// //Desktops & Laptops
@include mediaLg {
    html, body{
        font-size: 70% !important;
        // width: 100% !important;
        // height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow-x: hidden !important; 
    }

  .section1, .section2, .section4{
       height: 100vh !important;
      grid-template-columns: repeat(2,1fr);

      .intro, .workout-desc, .nutrition-desc, .proverb{
        padding: 6rem 8rem!important;

      }

      .scroll-workout{
          height: 100vh !important;

          .tabs-container{
              width: 5vw !important;
              left: 15% !important;
            }
      }
      
      .fadein-img{
          padding-top: 8rem !important;
      }


  }

.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    img{
        width: 30vw !important;
    }
}

.section6{
    height: 130vh;
    padding: 2rem 4rem !important;
    display: flex;
    flex-wrap: wrap;
    .browse-div1{
        width: 60vw !important;
    }
    .browse-div2{
        width: 25vw !important;
    }
    .browse-div3{
        width: 25vw !important;
    }
    .browse-div4{
        width: 25vw !important;
    }
    .browse-div5{
        width: 25vw !important;
    }
}

.newsletter{
    display: flex;
    flex-direction: row;
    height: 80vh;
    padding: 0 !important;
    margin: 0 !important;
}
  
     .section3{
         grid-template-rows: 1.5fr 1fr;
         height: 130vh;

    //       #slideshow1 img{
    //     width: 20vw !important;
        
    //   }
    }
}

// //Tablets & Small Laptops
@include mediaMd {
    html, body{
        font-size: 70% !important;
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow-x: hidden !important; 

        .btn-primary{
            padding: 1rem 1rem !important;
            font-weight: bold;
        }
       
    }

}

// //Smartphones
@include mediaSm {
    html, body{
        font-size: 70% !important;
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow-x: hidden !important; 

        .btn-primary{
            padding: 1rem 1rem !important;
            font-weight: bold;
        }
       
    }
  
    
    .intro, .workout-desc, .nutrition-desc, .proverb{
        padding: 8rem 4rem!important;

        .app-plan{
            padding: 2rem;
            max-width: 90vw !important;
            height: 35vh !important;
            font-size: 2rem !important;

             img{
                width: 60vw !important;
                height: 10vh !important;
            }
           
        }

    }
    
    .scroll-workout{
        height: 60vh !important;

        .scroll-phone{
            right: 10% !important;
        }

        .tabs-container{
            width: 15vw !important;
            left: 10% !important;
        }
    }

    #slideshow1 img{
        height: 70vh !important;

    }
    .tabs-container{
        width: 15vw !important;
        left: 10% !important;
    }

    .subscription-plans{
        width: 60% !important;
        padding-left: 6rem !important;
    }

    .subscription{
        padding-left: 3rem !important;
        img{
            width: 60vw !important;
            height: 10vh !important;
        }

    }

    .section6{
        grid-template-rows: 1fr 2fr !important;
        padding: 2rem 0 !important;

    }

    .newsletter-desc{
            // font-size: 2rem !important;
        padding-left: 7rem !important;
        width: 80% !important;
    }

    .news-form{
        width: 60% !important;

    }

    footer{
        grid-template-columns: repeat(2,1fr) !important;
    }
 }
